@import "compass";
@import "compass/reset";

$yellow: rgb(255,237,0);
$do-rotation: false;

@mixin section-container($yellow-amount, $rotation, $background: false) {
    $color: mix($yellow, white, $yellow-amount);
    $do-rotation: true !default;

    @if $background {
        $color: $background;
    }
    background: $color;
    @include box-shadow($color 0 100px);

    @if $do-rotation {
        @include rotate($rotation);

        .content {
            @include rotate($rotation * -1);
        }
    }
}

html {
    overflow: hidden;
    overflow-y: auto;
}

body {
    background: #fffeee;
    color: #222;
    color: rgba(0,0,0,1);
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -1px;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;

    &:hover {
        opacity: 0.5;
    }
}

#header {
    background: $yellow;
    padding: 130px 200px 100px;
    margin: -50px -200px 0;
    position: relative;
}

#logo {
    $logo-size: 300px !default;
    width: $logo-size;
    height: $logo-size;
    display: inline-block;
    background: image-url('logo.png') center center no-repeat;
    @include background-size($logo-size, $logo-size);

    @media  (min--moz-device-pixel-ratio: 1.5),
            (-o-min-device-pixel-ratio: 3/2),
            (-webkit-min-device-pixel-ratio: 1.5),
            (min-device-pixel-ratio: 1.5),
            (min-resolution: 144dpi),
            (min-resolution: 1.5dppx) {
                background-image: image-url('logo@2x.png');
    }

    span {
        position: absolute;
        top: -1000px;
    }
}


@media only screen and (max-width: 600px) {
    #header {
        margin-top: 20px;
        padding: 25px 0 50px;
    }

    #logo {
        width: 240px;
        height: 240px;
        background-size: 240px 240px;
    }
}

#nav {
    background: $yellow;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;

    &.fixed {
        position: fixed;
        top: 0;
        bottom: auto;
    }

    ul {
        @include inline-block-list;

        li {
            padding: 0.75em 0;
            margin-right: 2em;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    a {
        display: block;
        text-decoration: none;
        color: rgba(#222, 0.5);
    }

    a:hover, li.current a {
        color: inherit;
        @include scale(1.2);
    }

}

#main {
    position: relative;
    line-height: 1.5;

    section {
        padding: 3em 10em 3em 10em;
        margin: 0 -10em;
    }

    .content {
        max-width: 960px;
        margin: 0 auto;
        text-align: left;

        img.wide {
            margin-bottom: 1em;
        }
    }
}

#studio {
    @include section-container(7%, 0.4deg);
    @include clearfix;

    h1 {
        background-image: image-url('headlines/studio.png');
    }

    img {
        width: 960px;
    }

    .columns {
        @include column-gap(50px);

        &.two {
            @include column-count(2);
        }
    }
}

#team {
    @include section-container(20%, -0.7deg);

    h1 {
        background-image: image-url('headlines/team.png');
    }

    ul {
        @include pie-clearfix;
        position: relative;

        li {
            width: 22%;
            margin-right: 4%;
            float: left;
            z-index: 1;
            @include transition(250ms);

            &:last-child {
                margin-right: 0;
            }

            &.inactive {
                opacity: 0.5;
            }
        }

        h2 {
            margin-bottom: 0;
        }

        p {
            margin-top: 0;
        }

        a.qa {
            text-decoration: none;
        }

        .image {
            width: 211px;
            position: relative;
            margin-bottom: 1em;

            img {
                width: 100%;
                display: block;
            }
        }

        p {
            font-size: 80%;
        }
    }

    #qa {
        height: 0;
        margin: 1em -2000px;
        padding: 0 2000px;
        background: mix($yellow, #FFF, 5%);
        overflow: hidden;
        @include box-shadow(rgba(#000, 0.2) 0 0 6px inset);

        dl {
            margin: 2em 0;

            dt {
                text-transform: uppercase;
            }

            dd {
                margin-bottom: 1em;
                font-size: 85%;
                margin-left: 2em;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

#gallery {
    @include section-container(30%, -0.7deg);

    h1 {
        background-image: image-url('headlines/bilder.png');
    }

    .gallery {
        @include pie-clearfix;
        margin-right: -15px;

        li {
            float: left;
            width: 120px;
            height: 120px;
            padding: 0px;
            background: mix($yellow, white, 5%);
            margin: 0 48px 48px 0;

            &:nth-child(6) {
                margin-right: 0;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.fancybox-overlay {
    z-index: 99999;
}

#contact {
    @include section-container(0%, -0.3deg, #111);
    background: mix($yellow, #000, 5%);
    position: relative;
    height: 500px;

    .address {
        float: left;
        background: #000;
        color: rgba(mix($yellow, #FFF, 20%), 0.7);
        padding: 1.6em 2em;
    }

    #map {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 10em;
        right: 10em;
        bottom: 0;
    }

    .content {
        position: relative;
        z-index: 2;
    }
}

h1 {
    text-align: center;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: 2em;

    span {
        text-indent: -9999px;
        display: block;
    }
}

h2, h3 {
    text-transform: uppercase;
    margin-bottom: 1em;
}

p {
    margin: 1em 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

sup {
    vertical-align: super;
    font-size: smaller;
}


#opening {
    position: absolute;
    top: 70px;
    left: 10px;
    background: #FFF;
    color: #222;
    @include rotate(-30deg);
    padding: 0 10em;
    margin: 0 -10em;

    a {
        text-decoration: none;
        display: block;
        padding: 1em 0;
    }

    strong {
        text-transform: uppercase;
        font-size: 150%
    }
}