/* line 17, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 26, ../sass/screen.scss */
html {
  overflow: hidden;
  overflow-y: auto;
}

/* line 31, ../sass/screen.scss */
body {
  background: #fffeee;
  color: #222;
  color: black;
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1px;
  -webkit-text-size-adjust: 100%;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

/* line 47, ../sass/screen.scss */
a {
  color: inherit;
}
/* line 50, ../sass/screen.scss */
a:hover {
  opacity: 0.5;
}

/* line 55, ../sass/screen.scss */
#header {
  background: #ffed00;
  padding: 130px 200px 100px;
  margin: -50px -200px 0;
  position: relative;
}

/* line 62, ../sass/screen.scss */
#logo {
  width: 300px;
  height: 300px;
  display: inline-block;
  background: url('../images/logo.png?1356094413') center center no-repeat;
  -webkit-background-size: 300px, 300px;
  -moz-background-size: 300px, 300px;
  -o-background-size: 300px, 300px;
  background-size: 300px, 300px;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 62, ../sass/screen.scss */
  #logo {
    background-image: url('../images/logo@2x.png?1356094401');
  }
}
/* line 79, ../sass/screen.scss */
#logo span {
  position: absolute;
  top: -1000px;
}

@media only screen and (max-width: 600px) {
  /* line 87, ../sass/screen.scss */
  #header {
    padding: 75px 0 50px;
  }

  /* line 91, ../sass/screen.scss */
  #logo {
    width: 240px;
    height: 240px;
    background-size: 240px 240px;
  }
}
/* line 98, ../sass/screen.scss */
#nav {
  background: #ffed00;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
/* line 107, ../sass/screen.scss */
#nav.fixed {
  position: fixed;
  top: 0;
  bottom: auto;
}
/* line 113, ../sass/screen.scss */
#nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 49, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
#nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}
/* line 116, ../sass/screen.scss */
#nav ul li {
  padding: 0.75em 0;
  margin-right: 2em;
}
@media only screen and (max-width: 400px) {
  /* line 116, ../sass/screen.scss */
  #nav ul li {
    margin-right: 1em;
  }
}
/* line 124, ../sass/screen.scss */
#nav ul li:last-child {
  margin-right: 0;
}
/* line 130, ../sass/screen.scss */
#nav a {
  display: block;
  text-decoration: none;
  color: rgba(34, 34, 34, 0.5);
}
/* line 136, ../sass/screen.scss */
#nav a:hover, #nav li.current a {
  color: inherit;
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

/* line 143, ../sass/screen.scss */
#main {
  position: relative;
  line-height: 1.5;
}
/* line 147, ../sass/screen.scss */
#main section {
  padding: 3em 10em;
  margin: 0 -10em;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
/* line 154, ../sass/screen.scss */
#main .content {
  margin: 0 auto;
  text-align: left;
  max-width: 960px;
}

/* line 161, ../sass/screen.scss */
#studio {
  background: #fefded;
  -webkit-box-shadow: #fefded 0 100px;
  -moz-box-shadow: #fefded 0 100px;
  box-shadow: #fefded 0 100px;
  overflow: hidden;
  *zoom: 1;
}
/* line 165, ../sass/screen.scss */
#studio h1 {
  background-image: url('../images/headlines/studio.png?1359586385');
}
/* line 169, ../sass/screen.scss */
#studio img {
  width: 100%;
}
/* line 173, ../sass/screen.scss */
#studio .columns {
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  -ms-column-gap: 50px;
  -o-column-gap: 50px;
  column-gap: 50px;
}
/* line 176, ../sass/screen.scss */
#studio .columns.two {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}

/* line 182, ../sass/screen.scss */
#team {
  background: #fffbcc;
  -webkit-box-shadow: #fffbcc 0 100px;
  -moz-box-shadow: #fffbcc 0 100px;
  box-shadow: #fffbcc 0 100px;
}
/* line 185, ../sass/screen.scss */
#team h1 {
  background-image: url('../images/headlines/team.png?1358598633');
}
/* line 189, ../sass/screen.scss */
#team ul {
  *zoom: 1;
  position: relative;
}
/* line 38, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#team ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 193, ../sass/screen.scss */
#team ul li {
  width: 22%;
  margin-right: 4%;
  float: left;
  z-index: 1;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}
/* line 200, ../sass/screen.scss */
#team ul li:last-child {
  margin-right: 0;
}
/* line 204, ../sass/screen.scss */
#team ul li.inactive {
  opacity: 0.5;
}
/* line 209, ../sass/screen.scss */
#team ul h2 {
  margin-bottom: 0;
}
@media only screen and (max-width: 480px) {
  /* line 209, ../sass/screen.scss */
  #team ul h2 {
    font-size: 80%;
  }
}
/* line 217, ../sass/screen.scss */
#team ul p {
  margin-top: 0;
}
/* line 221, ../sass/screen.scss */
#team ul a.qa {
  text-decoration: none;
}
/* line 225, ../sass/screen.scss */
#team ul .image {
  width: 100%;
  position: relative;
  margin-bottom: 1em;
}
/* line 230, ../sass/screen.scss */
#team ul .image img {
  width: 100%;
  display: block;
}
/* line 236, ../sass/screen.scss */
#team ul p {
  font-size: 80%;
}
/* line 241, ../sass/screen.scss */
#team #qa {
  height: 0;
  margin: 1em -2000px;
  padding: 0 2000px;
  background: #fffef2;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px inset;
}
/* line 249, ../sass/screen.scss */
#team #qa dl {
  margin: 2em 0;
}
/* line 252, ../sass/screen.scss */
#team #qa dl dt {
  text-transform: uppercase;
}
/* line 256, ../sass/screen.scss */
#team #qa dl dd {
  margin-bottom: 1em;
  font-size: 85%;
  margin-left: 2em;
}
/* line 261, ../sass/screen.scss */
#team #qa dl dd:last-child {
  margin-bottom: 0;
}

/* line 269, ../sass/screen.scss */
#gallery {
  background: #fff9b2;
  -webkit-box-shadow: #fff9b2 0 100px;
  -moz-box-shadow: #fff9b2 0 100px;
  box-shadow: #fff9b2 0 100px;
}
/* line 272, ../sass/screen.scss */
#gallery h1 {
  background-image: url('../images/headlines/bilder.png?1359661530');
}
/* line 276, ../sass/screen.scss */
#gallery .gallery {
  *zoom: 1;
}
/* line 38, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#gallery .gallery:after {
  content: "";
  display: table;
  clear: both;
}
/* line 279, ../sass/screen.scss */
#gallery .gallery li {
  float: left;
  width: 12.5%;
  height: auto;
  padding: 0px;
  margin-right: 5%;
  margin-bottom: 5%;
}
/* line 287, ../sass/screen.scss */
#gallery .gallery li:last-child {
  margin-right: 0;
}
/* line 291, ../sass/screen.scss */
#gallery .gallery li img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 800px) {
  /* line 298, ../sass/screen.scss */
  #gallery .gallery li {
    width: 20%;
    margin-right: 6.666%;
  }
  /* line 302, ../sass/screen.scss */
  #gallery .gallery li:nth-child(4), #gallery .gallery li:nth-child(8) {
    margin-right: 0;
  }
}

/* line 311, ../sass/screen.scss */
.fancybox-overlay {
  z-index: 99999;
}

/* line 315, ../sass/screen.scss */
#contact {
  background: #111111;
  -webkit-box-shadow: #111111 0 100px;
  -moz-box-shadow: #111111 0 100px;
  box-shadow: #111111 0 100px;
  background: #000;
  position: relative;
  height: 500px;
  border: 0 !important;
}
/* line 322, ../sass/screen.scss */
#contact .address {
  float: left;
  background: #000;
  color: rgba(255, 251, 204, 0.7);
  padding: 1.6em 2em;
}
@media only screen and (max-width: 800px) {
  /* line 315, ../sass/screen.scss */
  #contact {
    border-left: 20px solid transparent !important;
    border-right: 20px solid transparent !important;
    height: auto;
  }
  /* line 334, ../sass/screen.scss */
  #contact .address {
    float: none;
    padding: 0;
  }
}
/* line 341, ../sass/screen.scss */
#contact #map {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 10em;
  right: 10em;
  bottom: 0;
}
/* line 350, ../sass/screen.scss */
#contact .content {
  position: relative;
  z-index: 2;
}

/* line 356, ../sass/screen.scss */
h1 {
  text-align: center;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 2em;
}
/* line 364, ../sass/screen.scss */
h1 span {
  text-indent: -9999px;
  display: block;
}

/* line 370, ../sass/screen.scss */
h2, h3 {
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* line 375, ../sass/screen.scss */
p {
  margin: 1em 0;
}
/* line 378, ../sass/screen.scss */
p:first-child {
  margin-top: 0;
}
/* line 382, ../sass/screen.scss */
p:last-child {
  margin-bottom: 0;
}

/* line 387, ../sass/screen.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 392, ../sass/screen.scss */
img {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
}

/* line 397, ../sass/screen.scss */
#opening {
  position: absolute;
  top: 70px;
  left: 10px;
  background: #FFF;
  color: #222;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  padding: 0 20em;
  margin: 0 -20em;
  line-height: 1.3;
}
@media only screen and (max-width: 600px) {
  /* line 397, ../sass/screen.scss */
  #opening {
    font-size: 75%;
    top: 40px;
    left: 0;
    display: none;
  }
}
/* line 415, ../sass/screen.scss */
#opening a {
  text-decoration: none;
  display: block;
  padding: 1em 0;
}
/* line 421, ../sass/screen.scss */
#opening strong {
  text-transform: uppercase;
  font-size: 150%;
}
