/* line 17, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/screen.scss */
html {
  overflow: hidden;
  overflow-y: auto;
}

/* line 9, ../sass/screen.scss */
body {
  background: #fffeee;
  color: #000;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  font-family: "Source Code Pro", monospace;
  letter-spacing: -1px;
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  padding-bottom: 3em;
}

/* line 23, ../sass/screen.scss */
a {
  color: inherit;
}

/* line 27, ../sass/screen.scss */
#header {
  background: #ffed00;
  -webkit-transform: rotate(-11.5deg);
  -moz-transform: rotate(-11.5deg);
  -ms-transform: rotate(-11.5deg);
  -o-transform: rotate(-11.5deg);
  transform: rotate(-11.5deg);
  padding: 50px 0;
  margin: 100px -200px;
}

/* line 34, ../sass/screen.scss */
#logo {
  width: 300px;
  height: 300px;
  display: inline-block;
  background: url('../images/logo.png?1356094413') center center no-repeat;
  background-size: 300px 300px;
  -webkit-transform: rotate(11.5deg);
  -moz-transform: rotate(11.5deg);
  -ms-transform: rotate(11.5deg);
  -o-transform: rotate(11.5deg);
  transform: rotate(11.5deg);
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 34, ../sass/screen.scss */
  #logo {
    background-image: url('../images/logo@2x.png?1356094401');
  }
}
/* line 51, ../sass/screen.scss */
#logo h1, #logo h2 {
  position: absolute;
  top: -1000px;
}

@media only screen and (max-width: 600px) {
  /* line 59, ../sass/screen.scss */
  #header {
    margin-top: 20px;
    padding: 25px 0;
  }

  /* line 64, ../sass/screen.scss */
  #logo {
    width: 240px;
    height: 240px;
    background-size: 240px 240px;
  }
}
/* line 71, ../sass/screen.scss */
#content {
  line-height: 1.3;
}
/* line 74, ../sass/screen.scss */
#content p {
  margin: 1em 0;
}

/* line 79, ../sass/screen.scss */
.links {
  font-size: 75%;
  letter-spacing: 0;
}
